<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <link rel="icon" href="/img/logo.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <script src="https://code.jquery.com/jquery-3.5.1.js"
        integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/main.css">
    <script src="/js/form-validator.js"></script>
    <script src="https://kit.fontawesome.com/7e6ab4004f.js" crossorigin="anonymous"></script>

    <!-- TITLE -->
    <title>PawsForUs - Chat</title>

</head>

<body>

    <section class="text-center container-fluid body-container justify-content-center d-flex align-items-center"
        style="min-height: 100vh;">

        <div class="text-left p-4 d-flex justify-content-between"
            style="overflow: hidden;position: fixed;top: 0;width: 100%;">
            <h1 class="header-gradient"><i class="fa-solid fa-angle-left"></i></h1>
            <div class="text-center">
                <h5>Chat with John</h5>
                20 Seconds Ago
            </div>
            <img src="/img/profile-icon.png" class="nav-icon">

        </div>

        <div>
            <h5 class="header-gradient">Have some manners...</h5>
            <h1 class="header-gradient"><b>Say Something!</b></h1>
        </div>

    </section>

    <div class='row p-3 align-items-center' style="overflow: hidden;position: fixed;bottom: 0;width: 100%;">
        <div class="col-1"><i class="fa-solid fa-camera"></i></div>
        <div class="col">
            <input class="form-control w-100" placeholder="Type a message...">
        </div>
        <div class="col-2">Send</div>
    </div>
</body>