<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <link rel="icon" href="/img/logo.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <script src="https://code.jquery.com/jquery-3.5.1.js"
        integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/main.css">
    <script src="/js/form-validator.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://kit.fontawesome.com/a2bb66671d.js" crossorigin="anonymous"></script>

    <!-- TITLE -->
    <title>PawsForUs - Home</title>

</head>

<body>
    <div class="container-fluid body-container d-flex flex-column justify-content-start align-items-left py-5">
        <div class="p-4 text-left d-flex justify-content-between">
            <h1 class="header-gradient">Discover</h1>
            <a href="/logout"><img src="/img/profile-icon.png" class="nav-icon"></a>
        </div>
        <div class="px-4 py-2 overflow-auto">
            <a href="/match">
                <div class="row pb-3">
                    <div class="col">
                        <div
                            style="height: 82vw; background-image: url(/img/lovely.png); background-size: cover; position: relative;">
                            <h2 class="header-weight nav-icon pl-3"
                                style="color: white; position: absolute; bottom: 0; left: 0;text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);">
                                Lovely</h2>
                        </div>
                    </div>
                </div>
            </a>
            <div class="row pb-3">
                <div class="col">
                    <div
                        style="height: 37vw; background-image: url(/img/lovely.png); background-size: cover; position: relative;">
                        <h2 class="header-weight nav-icon pl-3"
                            style="color: white; position: absolute; bottom: 0; left: 0;text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);">
                            Lovely</h2>
                    </div>
                </div>
                <div class="col">
                    <div
                        style="height: 37vw; background-image: url(/img/lovely.png); background-size: cover; position: relative;">
                        <h2 class="header-weight nav-icon pl-3"
                            style="color: white; position: absolute; bottom: 0; left: 0;text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);">
                            Lovely</h2>
                    </div>
                </div>
            </div>
            <div class="row pb-5">
                <div class="col">
                    <div
                        style="height: 37vw; background-image: url(/img/lovely.png); background-size: cover; position: relative;">
                        <h2 class="header-weight nav-icon pl-3"
                            style="color: white; position: absolute; bottom: 0; left: 0;">
                            Lovely</h2>
                    </div>
                </div>
                <div class="col">
                    <div
                        style="height: 37vw; background-image: url(/img/lovely.png); background-size: cover; position: relative;">
                        <h2 class="header-weight nav-icon pl-3"
                            style="color: white; position: absolute; bottom: 0; left: 0;">
                            Lovely</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="px-5 py-3 footer-background text-center d-flex flex-row justify-content-between align-items-center"
        style="overflow: hidden;position: fixed;bottom: 0;width: 100%;">
        {{!-- <a href="/home"><img src="/img/nav-one.png"></a>
        <a href="/"><img src="/img/nav-two.png"></a>
        <a href="/chat"><img src="/img/nav-three.png"></a>
        <img src="/img/nav-four.png"> --}}
        <a href="/home"><i class="nav-icon fas fa-compass fa-3x"></i></a>
        <a href="/match"><i class="nav-icon fas fa-paw fa-3x"></i></a>
        <a href="/chat"><i class="nav-icon far fa-comments fa-3x"></i></a>
        <a href="/profile"><i class="nav-icon far fa-user fa-3x"></i></a>
    </div>
</body>