<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <link rel="icon" href="/img/logo.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <script src="https://code.jquery.com/jquery-3.5.1.js"
        integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/main.css">
    <script src="/js/form-validator.js"></script>
    <script src="https://kit.fontawesome.com/7e6ab4004f.js" crossorigin="anonymous"></script>

    <!-- TITLE -->
    <title>PawsForUs - Match</title>

</head>

<body>
    <div class="container-fluid p-4 body-container d-flex flex-column justify-content-start align-items-left">
        <div class="text-left d-flex justify-content-between">
            <h1 class="header-gradient">Match</h1>
            <img src="/img/profile-icon.png" class="nav-icon">
        </div>

        <div class="p-3 my-2 overflow-auto shadow" style="border-radius: 15px">
            <div class="row pb-3">
                <div class="col">
                    <div
                        style="height: 82vw; background-image: url(/img/lovely.png); background-size: cover; position: relative;">
                        <h2 class="header-weight nav-icon pl-3"
                            style="color: white; position: absolute; bottom: 0; left: 0; text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);">
                            Lovely</h2>
                    </div>
                </div>
            </div>
            <div style="overflow: auto; max-height: 16em;">
                <p>
                    <i class="fa-solid fa-paw"></i> <b>Bulldog</b>, 3 years old <br />
                    <i class="fa-solid fa-mars"></i> <b>Male</b> <br />
                    <i class="fa-solid fa-compass"></i> <b>less than a mile</b> away <br />
                </p>
                <hr />

                <h4>About Me</h4>
                <p>
                    Pellentesque in ipsum id orci porta dapibus. Curabitur arcu erat, accumsan id imperdiet et,
                    porttitor at sem. Sed porttitor lectus nibh.
                    <br /> <br />
                    Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Donec rutrum congue leo eget
                    malesuada. Curabitur non nulla sit amet nisl tempus convallis quis ac lectus.
                </p>
            </div>

            <div class="text-center py-2" style="height: 80px; border-top: 1px solid rgb(219, 219, 219);">
                <img src="/img/reject.png" class="mx-1" style="max-height:70%;">
                <img src="/img/logo.png" class="mx-1" style="max-height:120%;">
                <img src="/img/dog.png" class="mx-1" style="max-height:70%;">
            </div>
        </div>
    </div>
    <div class="px-5 py-3 footer-background text-center d-flex flex-row justify-content-between align-items-center"
        style="overflow: hidden;position: fixed;bottom: 0;width: 100%;">
        <a href="/home"><i class="nav-icon far fa-compass fa-3x"></i></a>
        <a href="/match"><i class="nav-icon fas fa-paw fa-3x"></i></a>
        <a href="/chat"><i class="nav-icon far fa-comments fa-3x"></i></a>
        <a href="/profile"><i class="nav-icon far fa-user fa-3x"></i></a>
    </div>
</body>