<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <link rel="icon" href="/img/logo.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <script src="https://code.jquery.com/jquery-3.5.1.js"
        integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/main.css">
    <script src="/js/form-validator.js"></script>
    <script src="https://kit.fontawesome.com/7e6ab4004f.js" crossorigin="anonymous"></script>

    <!-- TITLE -->
    <title>PawsForUs - My Profile</title>

</head>

<body>
    <div class="container-fluid p-4 body-container d-flex flex-column justify-content-start align-items-left">
        <div class="text-left d-flex justify-content-between align-items-center">
            <h1 class="header-gradient pt-2">My Account</h1>
            <i class="fa-solid fa-gear fa-2x header-gradient"></i>
        </div>
        <div class="pt-2 pb-4 mt-2 mb-5 overflow-auto">
            {{!-- Personal Info --}}
            <div class="row">
                <div class="col">
                    <h4><b>Personal Info</b></h4>
                    <h5><b>Email</b></h5>
                    <p>{{data.user.email}}</p>
                    <h5><b>Name</b></h5>
                    <p>{{data.user.full_name}}</p>
                </div>
            </div>

            {{!-- My Pets --}}
            <div class="row pt-3">
                <div class="col">
                    <div class="d-flex justify-content-between align-items-center">
                        <h4><b>My Pets <a href="/add-pet"><i
                                        class="header-gradient fa-solid fa-circle-plus fa-1x"></i></a></b></h4>
                        <div class="header-gradient" style="font-weight: 400;">View All <i
                                class="fa-solid fa-arrow-right-long"></i></div>
                    </div>

                    <div class="py-2 d-flex justify-content-between align-items-center">
                        <div class="d-flex justify-content-start align-items-center">
                            <img src="/img/dog.png" width="60vw">
                            <div class="ml-2"><b>Princeton</b></div>
                        </div>
                        <i class="mr-1 fa-solid fa-trash fa-xl" style="color: red;" onclick="deletePet(this)"></i>
                    </div>
                    <div class="py-2 d-flex justify-content-between align-items-center">
                        <div class="d-flex justify-content-start align-items-center">
                            <img src="/img/bruno.png" width="60vw">
                            <div class="ml-2"><b>Bruno</b></div>
                        </div>
                        <i class="mr-1 fa-solid fa-trash fa-xl" style="color: red;" onclick="deletePet(this)"></i>
                    </div>
                    <div class="py-2 d-flex justify-content-between align-items-center">
                        <div class="d-flex justify-content-start align-items-center">
                            <img src="/img/fred.png" width="60vw">
                            <div class="ml-2"><b>Fred</b></div>
                        </div>
                        <i class="mr-1 fa-solid fa-trash fa-xl" style="color: red;" onclick="deletePet(this)"></i>
                    </div>
                    <div class="py-2 d-flex justify-content-between align-items-center">
                        <div class="d-flex justify-content-start align-items-center">
                            <img src="/img/lisa.png" width="60vw">
                            <div class="ml-2"><b>Lisa</b></div>
                        </div>
                        <i class="mr-1 fa-solid fa-trash fa-xl" style="color: red;" onclick="deletePet(this)"></i>
                    </div>
                </div>
            </div>

            {{!-- Analytics --}}
            <div class="row pt-3">
                <div class="col">
                    <h4><b>Analytics</b></h4>
                    <div class="text-center d-flex justify-content-center align-items-center">
                        <h1 class="header-gradient">11</h1>
                        <div class="ml-2 pb-1">matches this month</div>
                    </div>
                </div>
            </div>

            {{!-- Matches --}}
            <div class="row pt-3">
                <div class="col">
                    <h4><b>Matches Per Pet</b></h4>
                    <div class="py-2 d-flex justify-content-between align-items-center">
                        <div class="d-flex flex-column align-items-center">
                            <img src="/img/bruno.png" width="90vw">
                            <b>Bruno</b>
                            <div>6</div>
                        </div>
                        <div class="d-flex flex-column align-items-center">
                            <img src="/img/dog.png" width="110vw">
                            <b>Princeton</b>
                            <div>10</div>
                        </div>
                        <div class="d-flex flex-column align-items-center">
                            <img src="/img/fred.png" width="70vw">
                            <b>Fred</b>
                            <div>4</div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-start align-items-center border-top pt-3">
                        <img src="/img/lisa.png" width="60vw">
                        <div class="d-flex flex-column align-items-start ml-2">
                            <b>Lisa</b>
                            <div>3 matches</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="px-5 py-3 footer-background text-center d-flex flex-row justify-content-between align-items-center"
        style="overflow: hidden;position: fixed;bottom: 0;width: 100%;">
        <a href="/discover"><i class="nav-icon far fa-compass fa-3x"></i></a>
        <a href="/match"><img src="img/paw-outline.png" width="55vw"></a>
        <a href="/chat"><i class="nav-icon far fa-comments fa-3x"></i></a>
        <a href="/profile"><i class="nav-icon fas fa-user fa-3x"></i></a>
    </div>
</body>

<script>
    function deletePet(e) {
        alert(`Pet removed.`)
        $(e).parent().remove()
    }
</script>