<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <link rel="icon" href="/img/logo.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <script src="https://code.jquery.com/jquery-3.5.1.js"
        integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/main.css">
    <script src="/js/form-validator.js"></script>
    <script src="https://kit.fontawesome.com/7e6ab4004f.js" crossorigin="anonymous"></script>

    <!-- TITLE -->
    <title>PawsForUs - Select Mode</title>

</head>

<body>
    <div class="container-fluid body-container d-flex flex-column justify-content-start align-items-left py-5">
        <div class="p-4 text-left d-flex justify-content-center">
            <h1 class="header-gradient">I want to...</h1>
        </div>
        <div class="px-4 py-4 d-flex flex-column justify-content-center overflow-auto">
            <div class="row pb-5">
                <div class="col">
                    <a class="select-card-link" href="/discover">
                        <div class="d-flex select-card select-one p-5 justify-content-center align-items-center">
                            <h2>MATCH</h2>
                        </div>
                    </a>
                </div>
            </div>
            <div class="row pb-5">
                <div class="col">
                    <a class="select-card-link" href="/adopt">
                        <div class="d-flex select-card select-two p-5 justify-content-center align-items-center">
                            <h2>ADOPT</h2>
                        </div>
                    </a>
                </div>
            </div>
            <div class="row pb-3">
                <div class="col">
                    <a class="select-card-link" href="/buy">
                        <div class="d-flex select-card select-three p-5 justify-content-center align-items-center">
                            <h2>BUY</h2>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="px-5 py-3 footer-background text-center d-flex flex-row justify-content-between align-items-center"
        style="overflow: hidden;position: fixed;bottom: 0;width: 100%;">
        <a href="/discover"><i class="nav-icon far fa-compass fa-3x"></i></a>
        <a href="/match"><img src="img/paw-outline.png" width="55vw"></a>
        <a href="/chat"><i class="nav-icon far fa-comments fa-3x"></i></a>
        <a href="/profile"><i class="nav-icon far fa-user fa-3x"></i></a>
    </div>
</body>